.item {
    padding: 5px;
    margin: 5px;
    display: inline-block;
/*    width: 300px;
    height: 300px;*/
    border: dashed 1px #000;
    transition: 0.3s ease-in;
    float: left;
}

.item:hover {
    
    border-style: solid;
    border-radius: 16px;
    
}

.img-256 {
    
    transition: 0.3s ease-in;
    
}

.item:hover .img-256 {
    
    border-radius: 8px;
    
}

.item-img {
    display: block;
    width: 256px;
    height: 256px;
    
}

.cart-icon {

    background-color: #ff5b33;
    left: 85%;
    top: -20%;
    border-radius: 8px;
    height: 42px;
    padding: 8px;
    transition: 0.4s ease-in;
}

.cart-icon:hover {
    
    background-color: #c73713;
    cursor: pointer;
}

.item-text {
    
    display: block;
    font-size: 21px;
    width: 256px;
    height: 48px;
    margin-top: 5px;
    text-align: center;
}



.cart-img {
    
    width: 80px;
    height: 80px;
    display: inline-block;
    float: left;
    
}

    .cart-img > img {
        
        border-radius: 8px;
        
    }

.shopping-cart {
    
    border: 2px dashed #000;
    padding: 16px;
    display: inline-block;
    position: fixed;
    right: -900px;
    top: 100px;
    background-color: #fff;
    transition: 0.3s ease-in;
    
    overflow-y: scroll;
    height: 512px;
    z-index: 98;
    
}

.cart-items {
    
    padding: 8px;
    display: inline-block;
}

.cart-item {
    
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    padding: 4px;
    margin: 4px 0px;
    height: 80px;
    
    min-width: 512px;
    max-width: 800px;
}

.item-title,
.item-options {
    
    display: inline-block;
    margin-top: 16px;
    margin-right: 16px;
    
}

.item-options {
    
    float: right;
    
}

.item-title {
    
    float: left;
    font-size: 24px;
    padding: 10px;
    
}


.item-price {
    
    display: inline-block;
    font-size: 24px;
    margin-left: 16px;
}

.item-amount {
    
    width: 100px;
    font-size: 20px;
    
}

.x-ich {
    
    border-radius: 4px;
    padding: 2px 5px;
    display: inline-block;
    float: right;
    top: 0;
    
    background-color: #c4c4c4;
    color: #fff;
    
    font-size: 14px;
    font-family: monospace;
}

    .x-ich:hover {

        background-color: #f59d9d;
        cursor: pointer;
        
    }
    
