/* 
    Created on : Aug 16, 2018, 12:25:50 PM
    Author     : Misfortune
*/

@import url('https://fonts.googleapis.com/css?family=Bellefair|Fauna+One');

html,
body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    
    font-family: 'Bellefair';
}

.container
{
    height: 100vh;
    width: 100vw;

    overflow-y: auto;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;

    background-color: #fff;
    color: #000;
    
    display: block;
}

.heading 
{
    width: 100vw;
    height: 100px;
    
    position: fixed;
    z-index: 99;
    
    background-color: #323736;
}

.heading-item 
{
    display: inline-block;
    float: right;
    
    height: 42px;
    padding: 29px;
    
    transition: 0.2s ease-in-out;
}

    .heading-item > .img-holder
    {
        height: 42px;
        width: 42px;
        
        float: left;
    }
    
    .heading-item:first-child
    {
        float: left;
    }
    
    .heading-item > span
    {
        font-size: 25px;
        color: #fff;
        
        display: inline-block;
        margin: 8px 4px;
    }
    
    .heading-item:hover
    {
        cursor: pointer;
        transform: scaleX(1.1) scaleY(1.1);
    }
    
.img-holder 
{
    position: relative;
}

img
{
     position: relative;
        
     max-width: 100%;
     max-height: 100%;
     
     top: 50%;
     left: 50%;
        
     transform: translateY(-50%) translateX(-50%);
}

.content 
{
    display: block;
    
    text-align: justify;
    margin-top: 100px;
    padding: 16px;
    
    font-size: 32px;
}

.centered-dialog 
{
    margin: auto;
    width: 190px;
    
    padding: 8px;
    font-size: 20px;
    
    border: 2px dashed #000;
}

    .centered-dialog *
    {
        margin: 4px;
        padding: 4px;
    }
    
.btn
{
    min-width: 32px;
    
    display: inline-block;
    padding: 8px;
    margin-left: 64px;
    
    background-color: #3b69ea;
    color: #fff;
}

    .btn:hover
    {
        cursor: pointer;
        background-color: #5980ed;
    }